# JWT Konfiqurasiyası
JWT_SECRET=your_base64_secret_key_here
ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN=86400000

# PostgreSQL Verilənlər Bazası (Lokal üçün: localhost:5432, Docker üçün: postgres:5432)
DB_URL=jdbc:postgresql://localhost:5432/ordertracker
DB_USERNAME=postgres
DB_PASSWORD=your_secure_password