# DATABASE
DB_URL=jdbc:postgresql://localhost:5432/ordertracker
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

# JWT
JWT_SECRET=your_jwt_secret
ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN=86400000

# MAIL
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password